:root {
  --pst-sidebar-secondary: 22rem;
}
html[data-theme=dark] {
  --pst-color-primary: rgb(0, 100, 176);
  --pst-color-link: rgb(40, 134, 204);
}

html[data-theme=light] {
  --pst-color-primary: rgb(0, 90, 160);
}

html[data-theme=dark],
html[data-theme=light] {
  --pst-color-secondary: rgb(255, 166, 0);
  --sd-color-card-border-hover: var(--pst-color-link);
}

.navbar-nav li a:focus,
.navbar-nav li a:hover,
.navbar-nav li.current>a,
nav.bd-links li>a:hover {
  color: var(--pst-color-link);
}

.blog-nav {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

nav.bd-links .blog-nav li>a {
 color: var(--pst-color-text-muted);
 display:inline;
 padding:.25rem 0
}

ul.postlist-style-none {
	padding-left: 0px;
}

.ablog-post-title {
    font-size: 120%;
}

.bd-header .navbar-nav > .active > .nav-link {
  color: var(--pst-color-link);
}

#navbar-icon-links i.fa-square-gitlab:before {
 color: var(--pst-color-text-muted);
}

.bd-page-width {
  max-width: 95rem;
}

.bd-page-width {
  max-width: 95rem;
}

.center {
  text-align: center;
}
